doctype html
html
    head
        a(href="/") Home
        title About
    body
        h1 About
        p A very simple currency convert web site.
        p It is operated by a very cute cat

        img(src="images/aboutmoney.jpg" sizes="50%")




