doctype html

htlm
    head
        title   Currency Converter
        link(rel="styleSheet", href="/stylesheets/currency_style.css")
    body

        img(src="images/site_logo.jpg")
        block content
    hr
    a(href="about") About this site

