//Created by glendex on 2/24/16.

extends base

block content

    h1 Currency Conversion Results
    p $#{startmoney} is equal to #{converted} #{currency}

    hr
    div.about
        a(href="/") Home
